*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Roboto:wght@100;400;700&display=swap');
/* Variables */
:root{
    /* Fondos */
    --fondo-1: #7C80F2;
    --fondo-2: #1AB0C7;
    --fondo-3: #20DDFA;
    --sombra: #F2F2EA;
    /*Colores de Texto */
    --texto-1: #000000;
    --texto-2: #ffffff;
    --texto-sombra: #7C7C7C;
    /* Colores+ */
    --button: #61D797;
}

/* General */
body{
    background-color: var(--fondo-1);
    max-width: 100vw;
}
img{
    width: 100%;
    height: 100%;
}
/*Para cels*/
.icon-menu{
    color: var(--texto-1);
    font-size: 3em;
    border-radius: 100%;
    position: fixed;
    top: 3px;
    left: 3px;
    z-index: 4;
}
.desactivated{
    display: none;
}
/*Fin de Para Cels*/
.link{
    color: var(--texto-1);
    font-size: 1.5em;
    padding: 0.5em;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.link:hover{
    text-decoration: none;
    color: white;
}
/* Header */
header{
    background-color: var(--fondo-3);
    height: 100px;
    top: 0;
    left: -100%;
    transition: 700ms;
    z-index: 3;
}
header.activated{
    transition: 700ms;
    left: 0;
}
.header__list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.list__option{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--texto-1);
    margin: 0 2em;
    letter-spacing: 0.1em;
}
.list__option:hover{
    color: var(--texto-sombra);
}
.list__option:active{
    color: white;
}
/* Proyectos */
#main-tittle{
    text-align: center;
    margin: 1em 0;
}
.projects{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    position: relative;
    max-width: 460px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--texto-2);
    border: solid var(--texto-2) 5px;
    border-radius: 36px;
    box-shadow: -10px 10px 0px 10px var(--sombra);
    overflow: hidden;
    margin: 2em;    
    text-decoration: none;

    /*Dejado para un mejor hoover*/
    transition: 50ms;
}
.project:hover{
    box-shadow: -5px 5px 0px 5px var(--sombra);

    /*Afectado por max-width y max-height*/
    width: 110%;
    height: 110%;

    /*Dejado para un mejor hoover*/
    transition: 50ms;
}
.project__image{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
}
.project__title{
    margin-bottom: 1em;
}
.blur{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: var(--fondo-3);
    border-radius: 100%;
    filter: blur(100px);
}
#index-link{
    display: block;
    text-align: center;
    margin: 0 auto;
}
/* Proyectos caja */
.project-box{
    border: solid var(--texto-2) 6px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--fondo-2);
    min-height: 200px;
    margin: 1em 0.5em;
    padding: 0.5em;

    /*Dejado para un mejor hoover*/
    transition: 50ms;
}
.project-box:hover{
    margin: 2em 0.5em;
    box-shadow: 0px 0px 100px var(--sombra);

    /*Dejado para un mejor hoover*/
    transition: 50ms;
}
.--videogame{
    border-color: var(--fondo-2);
    background-color: var(--fondo-3);
}
.project-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.project-box__images{
    display: inline;
    align-self: center;
}
.project-box__image{
    width: 45%;
    height: auto;
    margin: 1em;
}
/* ¿Quien soy? */
.presentacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.biografia{
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.3em;
}
.social-links{
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-link{
    color: var(--texto-2);
    text-decoration: none;
    margin: 0.2em 10%;
}
.social-link:hover{
    text-shadow: 0px 0px 20px var(--sombra);
}
.tools__photos{
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-auto-flow: column;
    text-align: center;
    height: 50%;
}
.tools img{
    width: 4em;
    height: 4em;
    align-self: flex-end;
    margin: 0 auto;
}
.tools img:hover{
    width: 4.5em;
    height: 4.5em;
}
.last-project{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.presentacion-title{
    align-self: flex-start;
}
/* Titulos */
.title{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
}
.title--big{
    font-size: 3em;
    font-weight: 700;
}
/* Botones */
.button{
    padding: 0.2em 0.8em;
    margin: 0.4em;
    background-color: var(--button);
    border-radius: 10px;
}